body {
    background: url('/static/images/woodBackground.jpg') no-repeat;
    background-size: cover;
}

.container {
    margin-top: 500px;
    font-family: 'Special Elite', cursive;
}

.nav.nav-tabs a {
    background-color: moccasin;
    color: black;
}

.tab-content {
    background-color: moccasin;
    height: 600px;
    text-align: center;
}

.tab-content h1 {
    font-size: 100px;
    padding-top: 200px;
}

.tab-content form {
    margin: 0 200px;
    padding-top: 200px;
}