<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <a href="/profile">Dossier</a>
            </div>
            <div class="col col-lg-8">
                <h1>Dossier</h1>
            </div>
            <div class="col-lg-2">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col photo">
                <img src="" alt="">
            </div>
            <div class="col">
                <div class="name">
                    <h2>{{user.first_name}}</h2>
                    <h2>{{user.last_name}}</h2>
                </div>
            </div>
        </div>
        <div class="personalInfo">
            <form action="/profile/update/{{user.id}}" method="POST">
                {% csrf_token %}
                <div class="row ">
                    <div class="col info">
                        <p>AKA: <input type="text" name="aka" value="{{user.aka}}"></p>
                    </div>
                    <div class="col info">
                        <p>Occupation: <input type="text" name="occupation" value="{{user.occupation}}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p>Current City: <input type="text" name="current_city" value="{{user.current_city}}"></p>
                    </div>
                    <div class="col info">
                        <p>Place of Birth: <input type="text" name="place_of_birth" value="{{user.place_of_birth}}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p>Date of Birth: {{user.date_of_birth}}</p>
                    </div>
                    <div class="col info">
                        <p>Gender: <input type="text" name="gender" value="{{user.gender}}"></p>
                    </div>
                    <div class="col info">
                        <p>Age: <input type="text" name="age" value="{{user.age}}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p>Marital Status: <input type="text" name="marital_status" value="{{user.marital_status}}"></p>
                    </div>
                    <div class="col info">
                        <p>Family: </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p><a href="">Known Associates:</a></p>
                    </div>
                    <div class="col info">
                        <p>Education: <input type="text" name="education" value="{{user.education}}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p><a href="/stories">Stories:</a></p>
                    </div>
                    <div class="col info">
                        <p><a href="">Events:</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col info">
                        <p>Contact Info:</p>
                    </div>
                </div>
                </div>
                <div class="row">
                    <button type="submit">Update</button>
                </div>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p>About: <input type="text" name="about" value="{{user.about}}"></p>
            </form>
        </div>
    </div>
</body>
</html>